
$black: #221c12;
$eggWhite: #fffdf0;
$shadow: rgba(34, 28, 18,.75);

@mixin bitter {
  font-family: 'Bitter', serif;
}

@mixin padding {
  padding: 2em;
}

@mixin padding-bottom {
  padding-bottom: 2em;
}

@mixin text-shadow {
  text-shadow: $shadow;
}

@mixin transition($property, $duration, $type) {
	-webkit-transition: $property $duration $type;
	-moz-transition: $property $duration $type;
	-ms-transition: $property $duration $type;
	-o-transition: $property $duration $type;
	transition: $property $duration $type;
}